*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
footer{
    background-color: #2b2b2b;
}

.logo{
    background-color: #c004ff;
    width: 100px;
    height: 100px;
    margin: auto;
}

.logo img{
    width: 100px;
}

.contenedor{
    background-color: aquamarine;
    width: 1200px;
    height: 500px;
    display: flex;
}

.col1{
    background-color: rgb(227, 227, 0);
    width: 400px;
    height: 400px;
}

.col1 h1{
    margin-bottom: 15px;
}

.col1 p{
    margin-bottom: 10px;
}

.col2{
    background-color: rgb(0, 236, 95);
    width: 400px;
    height: 400px;
}

.col2 .yt{
    background-color: red;
    width: 100px;
    height: 100px;
}

.col2 .ig{
    background-color: rgb(255, 149, 0);
    width: 100px;
    height: 100px;
}

.col2 .fb{
    background-color: rgb(0, 72, 255);
    width: 100px;
    height: 100px;
}

.col3{
    background-color: rgb(0, 238, 255);
    width: 400px;
    height: 400px;
}

.final{
    background-color: aliceblue;
    width: 1200px;
    height: 200px;
    display: flex;
}

.copy{
    background-color: #4b0606;
    width: 600px;
    height: 100px;
    float: left;
    margin-top: 50px;
    display: flex;
}

.politic{
    background-color: brown;
    width: 600px;
    height: 100px;
    float: right;
    margin-top: 50px;
    display: flex;
}